@import url("https://fonts.googleapis.com/css2?family=Alex+Brush&family=M+PLUS+1:wght@300;400;500;600;700;800&family=Montserrat:wght@300;400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
}
/* .header {
  background-color: transparent;
} */

.portada {
  background: url("./components/hero/fondo-portada-sm.png");
  background-position: top;
  background-repeat: no-repeat;
}

.portadaLg {
  background: url("./components/hero/fondo-portada-lg.png");
  background-position: top;
  background-repeat: no-repeat;
}

.bg-seDistribuidor {
  background: url("./components/seDistribuidor/fondo.png");
  background-position: 65% 50%;
}
.bg-productosRetornables {
  background: url("./components/products/fondoProductoRetornable.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.f-mplus {
  font-family: "M PLUS 1", sans-serif;
}
.f-Alex-Brush {
  font-family: "Alex Brush", cursive;
}
.f-montserrat {
  font-family: "Montserrat", sans-serif;
}
.shadow-portada {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.shadow-elementos {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.text-shadow-separador {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.text-shadow {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.445);
}

.textstroke {
  text-shadow: 0px 4px 4px rgba(255, 255, 255, 0.445);
}
.banner {
  background: url("./components/nosotros/heroNosotros/nosotros-dos.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media (min-width: 768px) {
  .portada {
    background: url("./components/hero/fondo-portada-lg.png");
    background-position: 35% 20%;
    background-size: 110%;
    background-repeat: no-repeat;
  }
  .bg-productosRetornables {
    background: url("./components/products/fondoProductoRetornableLg.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
}
